*{
  margin: 0px;
  padding: 0px;
  font-family: Kristen ITC; 
}

body{
  background: linear-gradient(to bottom, #33ccff 30%, #ff99cc 100%);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
    position: relative;
    width: 193px;
    height: 193px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    font-size: 25px;
}

.image {
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 100px;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #008cba;
}

.container:hover .overlay{
    opacity: 1;
}

.overlayLeft{
    height: 100%;
    width:0;
    top:0;
    left:0;
    background-color: #d21872;
    border-radius: 100px;
}

.container:hover .overlayLeft{
    width: 100%;
}

.header {
  margin-top: 30px;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 50px;
}

.topheadicon{
  opacity: 0.8;
  height: 80px;
  margin-top: 30px;
}

.tophead{
  opacity: 0.5;
  color: black;
  margin-top: -43px;
  font-size: 30px;
}

.tag {
    display: block;
    width: 210px;
    height: 210px;
}